<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ControllerServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ControllerServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://keyboard.hcs.ac.cn/ControllerService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ControllerServiceSoap"
        contract="ServiceReference.ControllerServiceSoap" name="ControllerServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
