<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HelloServerSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://keyboard.hcs.ac.cn/HelloServer.asmx"
                binding="basicHttpBinding" bindingConfiguration="HelloServerSoap"
                contract="ServiceReference.HelloServerSoap" name="HelloServerSoap" />
        </client>
    </system.serviceModel>
</configuration>