<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClientServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ClientServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://keyboard.hcs.ac.cn/ClientService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ClientServiceSoap"
                contract="ServiceReference.ClientServiceSoap" name="ClientServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>