<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HelloServerSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="HelloServerSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://keyboard.hcs.ac.cn/HelloServer.asmx"
                binding="basicHttpBinding" bindingConfiguration="HelloServerSoap"
                contract="ServiceReference.HelloServerSoap" name="HelloServerSoap" />
            <endpoint address="http://keyboard.hcs.ac.cn/HelloServer.asmx"
                binding="customBinding" bindingConfiguration="HelloServerSoap12"
                contract="ServiceReference.HelloServerSoap" name="HelloServerSoap12" />
        </client>
    </system.serviceModel>
</configuration>